## Observations and Insights

In [1]:
#dependencies and setup

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np


#get study data files

mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"


#read the mouse data and the study results

mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)


#combine the data into a single dataset

study_data_complete = pd.merge(study_results, mouse_metadata, how='left', on='Mouse ID')


#display the data table for preview

study_data_complete.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [2]:
#checking the number of mice

len(study_data_complete['Mouse ID'].unique())

249

In [19]:
#getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint 

duplicateMouse = study_data_complete.duplicated(subset=['Mouse ID', 'Timepoint']).any()
duplicates = study_data_complete['Mouse ID'].value_counts()
duplicates_df = pd.DataFrame(duplicates)
duplicates_df = duplicates_df.rename(columns={'Mouse ID':'Count of Mouse ID'})
duplicates_df.head()

      Count of Mouse ID
g989                 13
y769                 10
m650                 10
r554                 10
l509                 10

In [22]:
#set index to mouse ID
#get all the data for the duplicate mouse IDs 


study_data_mouse_index = study_data_complete.set_index('Mouse ID')
study_data_mouse_index.head()

#check mouse data for duplicates id

duplicates_data = study_data_mouse_index.loc[['g989', 'y769', 'm650', 'r554', 'l509'],:]
duplicates_data

,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
Mouse ID,,,,,,,
g989,0,45.000000,0,Propriva,Female,21,26
g989,0,45.000000,0,Propriva,Female,21,26
g989,5,48.786801,0,Propriva,Female,21,26
g989,5,47.570392,0,Propriva,Female,21,26
g989,10,51.745156,0,Propriva,Female,21,26
g989,10,49.880528,0,Propriva,Female,21,26
g989,15,51.325852,1,Propriva,Female,21,26
g989,15,53.442020,0,Propriva,Female,21,26
g989,20,55.326122,1,Propriva,Female,21,26
g989,20,54.657650,1,Propriva,Female,21,26
g989,25,56.045564,1,Propriva,Female,21,26
g989,30,59.082294,1,Propriva,Female,21,26
g989,35,62.570880,2,Propriva,Female,21,26
y769,0,45.000000,0,Ceftamin,Female,6,27
y769,5,46.422652,1,Ceftamin,Female,6,27
y769,10,48.015163,1,Ceftamin,Female,6,27
y769,15,52.761021,2,Ceftamin,Female,6,27
y769,20,55.025724,2,Ceftamin,Female,6,27
y769,25,58.335959,3,Ceftamin,Female,6,27
y769,30,61.071949,3,Ceftamin,Female,6,27
y769,35,63.430632,3,Ceftamin,Female,6,27
y769,40,64.251028,4,Ceftamin,Female,6,27
y769,45,68.594745,4,Ceftamin,Female,6,27
m650,0,45.000000,0,Ketapril,Male,15,27
m650,5,48.562495,1,Ketapril,Male,15,27
m650,10,50.968998,1,Ketapril,Male,15,27
m650,15,53.149559,1,Ketapril,Male,15,27
m650,20,56.777939,2,Ketapril,Male,15,27
m650,25,62.253597,2,Ketapril,Male,15,27
m650,30,64.901888,3,Ketapril,Male,15,27
m650,35,69.265747,4,Ketapril,Male,15,27
m650,40,70.797068,4,Ketapril,Male,15,27
m650,45,73.901399,4,Ketapril,Male,15,27
r554,0,45.000000,0,Capomulin,Female,8,17
r554,5,45.781746,1,Capomulin,Female,8,17
r554,10,39.005494,2,Capomulin,Female,8,17
r554,15,35.463758,2,Capomulin,Female,8,17
r554,20,36.015589,2,Capomulin,Female,8,17
r554,25,33.893345,3,Capomulin,Female,8,17
r554,30,32.680655,3,Capomulin,Female,8,17
r554,35,33.069337,3,Capomulin,Female,8,17
r554,40,31.804841,3,Capomulin,Female,8,17
r554,45,32.377357,3,Capomulin,Female,8,17
l509,0,45.000000,0,Capomulin,Male,17,21
l509,5,45.851193,0,Capomulin,Male,17,21
l509,10,46.759074,0,Capomulin,Male,17,21
l509,15,47.488599,1,Capomulin,Male,17,21
l509,20,48.070452,2,Capomulin,Male,17,21
l509,25,44.006257,2,Capomulin,Male,17,21
l509,30,44.708055,2,Capomulin,Male,17,21
l509,35,40.207289,2,Capomulin,Male,17,21
l509,40,40.770813,2,Capomulin,Male,17,21
l509,45,41.483008,3,Capomulin,Male,17,21

In [36]:
#create a clean DataFrame by dropping the duplicate mice by their IDs

study_data_clean = study_data_complete.drop_duplicates('Mouse ID')
study_data_clean.head(10)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25
5,h246,0,45.0,0,Ketapril,Male,13,30
6,p189,0,45.0,0,Ketapril,Male,8,28
7,n923,0,45.0,0,Ketapril,Male,19,30
8,q119,0,45.0,0,Ketapril,Male,17,30
9,f993,0,45.0,0,Naftisol,Male,21,28

In [29]:
#checking the number of mice in the clean DataFrame

len(study_data_clean['Mouse ID'])

249

## Summary Statistics

In [38]:
#generate a summary statistics table of mean, median, variance, standard deviation, 
#and SEM of the tumor volume for each drug regimen

tumor_volume = study_data_complete.groupby(['Drug Regimen'])['Tumor Volume (mm3)']

mean_tumor_volume = tumor_volume.mean()
median_tumor_volume = tumor_volume.median()
var_tumor_volume = tumor_volume.var()
std_tumor_volume = tumor_volume.std()
sem_tumor_volume = tumor_volume.sem()

drug_tumor_df = pd.DataFrame({
   'Mean Tumor Volume':mean_tumor_volume,
   'Median Tumor Volume':median_tumor_volume,
   'Var Tumor Volume':var_tumor_volume,
   'Std Tumor Volume':std_tumor_volume,
   'SEM Tumor Volume':stderr_tumor_volume, 
})

drug_tumor_df.head(20)

,Mean Tumor Volume,Median Tumor Volume,Var Tumor Volume,Std Tumor Volume,SEM Tumor Volume
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.322552,50.854632,42.351070,6.507770,0.512884
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [68]:
#using the aggregation method, produce the same summary statistics in a single line

drug_tumor_df = study_data_complete.groupby('Drug Regimen').agg(Mean_Tumor_Volume = ('Tumor Volume (mm3)', np.mean),
Median_Tumor_Volume = ('Tumor Volume (mm3)', np.median),
Variance_Tumor_Volume = ('Tumor Volume (mm3)', np.var),
Stdev_Tumor_Volume = ('Tumor Volume (mm3)', np.std),
SEM_Tumor_Volume = ('Tumor Volume (mm3)', st.sem))
drug_tumor_df.head()

,Mean_Tumor_Volume,Median_Tumor_Volume,Variance_Tumor_Volume,Stdev_Tumor_Volume,SEM_Tumor_Volume
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466

## Bar and Pie Charts

In [71]:
#generate a bar plot showing the total number of measurements !of tumor size?! taken on each drug regimen using pandas.

drug_grouped_df = study_data_complete.groupby(['Drug Regimen'])['Tumor Volume (mm3)']
measures = drug_grouped_df.value_counts()

drug_measures_df = pd.DataFrame({'Drug Regimen':study_data_complete['Drug Regimen']}, {'Count of (mm3) Measurements':measures})
drug_measures_df.head(10)

#drug_measures_df.plot.bar(x='Drug Regimen', y=measures)

                            Drug Regimen
Count of (mm3) Measurements          NaN

In [56]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen